* {
	box-sizing: border-box;
}

:root {
	font: 16px sans-serif;
}

body {
	padding: 0;
	margin: 0;
	background: #eee;
	display: flex;
	flex-direction: column-reverse;
}

#map {
	width: 100vw;
	height: calc(100vh - 4rem);
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	overflow: hidden;
}

figure {
	display: flex;
	flex-direction: column;
	justify-items: stretch;
	gap: 0.5rem;
	border: 1px solid #ddd;
	padding: 0.5rem;
	border-radius: 0.5rem;
	max-width: 50vw;
}
